h1 {
    text-align: center;
}

.containerParagraph {
    margin: 1% 12%;  /* 12% margin on left and right 0 margin on top and bottom*/
    text-align: justify;
    padding: 5%;
    border-radius: 5px;
    background-color: #2F2F2F;
}
.title{
    text-align: center;
    margin-bottom: 5%;
}

@media (max-width: 720px){
    .containerParagraph {
        width: 90%;
        margin: 1% 5%;
    }
}