h1 {
    text-align: center;
}

.containerParagraph {
    margin: 1% 12%;  /* 12% margin on left and right 0 margin on top and bottom*/
    text-align: justify;
    padding: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.title{
    text-align: center;
    margin-bottom: 5%;
}