h1 {
    text-align: center;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center;     /* Centra verticalmente */
}
.containerContact {
    text-align: justify;
    padding: 5%;
    background-color: #2F2F2F;
    border-radius: 5px;
    width: 80%;
}


.title{
    text-align: center;
    margin-bottom: 5%;
}
.members-container{
    display: flex;
    flex-direction: row;
}
.member{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    margin: 10px;
}
img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
}
/* gesione link contatti */
.link_container {
    display: inline-block; 
    text-align: center;
     
  }
.icon{
    width: 45px;
    height: 45px;
    margin: 10px;
    display: block; 
    

}
@media (max-width: 530px){
    .containerContact {
        text-align: justify;
        padding: 5%;
        background-color: #2F2F2F;
        border-radius: 5px;
        width: 95%;
    }
    img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-bottom: 5px;
    }
    .link_container{
        font-size: 0.8em;
    }
    .icon{
        width: 30px;
        height: 30px;
        margin: 6px;
        display: block; 
    }
}