.game_board{
    margin: 5% 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 9.46% 65.67% 6.5% 12% 6.5%;
  grid-template-rows: 5% 
                        9.21% 2.324295011% 
                        9.21% 2.324295011% 
                        9.21% 2.324295011% 
                        9.21% 2.324295011% 
                        9.21% 2.324295011% 
                        9.21% 2.324295011% 
                        9.21% 2.324295011% 
                        9.21%
                      5.05%;
  background-color: lightgray;
  grid-gap: 1px;
  margin: 0 20%;
  aspect-ratio: 1 / 1.3;  
}

.grid-item {
  background-color: white;
  border: 1px solid;
  text-align: center;
}

.balls-container {
  background-color: lightcoral;
  -moz-border-radius: 15px; 
  -webkit-border-radius: 15px; 
  border-radius: 15px;
}

.suggestion-container {
  background-color: lightcoral;
  -moz-border-radius: 15px; 
  -webkit-border-radius: 15px; 
  border-radius: 15px;
}
