
li {
    list-style: none;
}

/* Main content */

.container-fluid{
    display: flex; /* Enable flexbox layout */
    flex-direction: row; /* Default to vertical direction */
    width: 100%; /* Make container span full page width */
}

.leftpane {
    flex: 55%; /* Set flex basis to 55% */
    margin-left: 10%; /* Set left and right margins */
    background-color: #404040;
}

.rightpane{
    flex: 45%; /* Set flex basis to 45% */
    margin-right: 10%; /* Set left and right margins */
    background-color: #4d4d4d;
}

/* Responsive layout */

@media (max-width: 1080px) {
    .container-fluid {
      flex-direction: column-reverse; /* Switch to horizontal direction for smaller screens */
    }
    .rightpane {
        flex: 50%; /* Set flex basis to 35% */
        margin: 0 10% 0 10% /* Set margins */
    }
    .leftpane {
        flex: 50%; /* Set flex basis to 35% */
        margin: 0 10% 0 10% /* Set margins */
    }
  }