.rules-container{
    margin: 1% 12%; /* 12% margin on left and right 0 margin on top and bottom*/
    margin-bottom: 2%;
    padding: 5%;
    border-radius: 5px;
    background-color: #2F2F2F;
}
.title{
    text-align: center;
    margin-bottom: 5%;
}

@media (max-width: 720px){
    .rules-container {
        margin: 1% 10%;
    }
}

