.rules-container{
    margin: 0 12%; /* 12% margin on left and right 0 margin on top and bottom*/
    margin-bottom: 5%;
    padding: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.title{
    text-align: center;
    margin-bottom: 5%;
}