{% extends 'base.html' %}

{% block head %}
    <title id="title">About Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about_us.css') }}">
{% endblock %}

{% block body %} 

    <div class="container">
        <h1>About Us</h1>
        <p>Mind Masters è una riproduzione del gioco Mastermind sviluppata utilizzando Flask. Questo progetto utilizza Flask-SQLAlchemy, Flask-Bcrypt e Flask-Login per la gestione del database, la crittografia delle password e l'autenticazione degli utenti.</p>
    </div>

{% endblock %}
