{% extends 'base.html' %}

{% block head %}
    <title id="title">About Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about_us.css') }}">
{% endblock %}

{% block body %} 


    <div class="containerParagraph">
        <div class="rule-section">
            <h1 class="title">About Us</h1>
            <p>Nel nostro progetto, abbiamo utilizzato una combinazione di tecnologie moderne per creare un sito web dinamico ed efficiente. Queste tecnologie includono Flask per il lato server, HTML, CSS e JavaScript per la struttura e lo stile del sito, AJAX per la comunicazione asincrona con il server, e jQuery per semplificare le operazioni JavaScript.</p>
        </div>
        
        <div class="rule-section">
            <h3>Flask</h3>
            <p>Flask è un micro-framework per il web scritto in Python. È leggero e flessibile. Abbiamo scelto Flask per il suo approccio minimalista che ci permette di aggiungere componenti secondo necessità.</p>
        </div>
        
        <div class="rule-section">
            <h3>HTML</h3>
            <p>HTML (HyperText Markup Language) è il linguaggio standard per creare pagine web. Fornisce la struttura di base del sito, permettendo di organizzare il contenuto in elementi come paragrafi, titoli,tabelle, ecc.</p>
        </div>
        
        <div class="rule-section">
            <h3>CSS</h3>
            <p>CSS (Cascading Style Sheets) è utilizzato per descrivere l'aspetto e il layout delle pagine web. Abbiamo utilizzato CSS per rendere il nostro sito visivamente attraente e responsive, garantendo una buona esperienza utente su dispositivi di diverse dimensioni.</p>
        </div>
        
        <div class="rule-section">
            <h3>JavaScript</h3>
            <p>JavaScript è un linguaggio di scripting che permette di creare pagine web interattive. È utilizzato principalmente per implementare funzionalità dinamiche che migliorano l'interattività dell'utente.</p>
        </div>

        <div class="rule-section">
            <h3>AJAX</h3>
            <p>AJAX (Asynchronous JavaScript and XML) è una tecnica che consente di inviare e ricevere dati dal server in modo asincrono, senza ricaricare l'intera pagina.</p>
        </div>

        <div class="rule-section">
            <h3>jQuery</h3>
            <p>jQuery è una libreria JavaScript che semplifica l'interazione con il DOM, la gestione degli eventi, l'animazione e le richieste AJAX.</p>
        </div>
        
    </div>

    

{% endblock %}
