<!-- 
    This HTML file represents the base template for the Mind Masters web application.
    It includes the general structure of the HTML document, the CSS and JavaScript dependencies,
    and the common elements that will persist across all pages, such as the sidebar and footer.
    The template also includes conditional logic to display different elements based on the user's authentication status.
    The file is organized into different sections, each serving a specific purpose.
-->
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/img/logo.ico') }}">

    <!-- JavaScript dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script>
        // When the page loads, scroll to the top for better user experience and to avoid bugs.
        window.onload = function() {
            window.scrollTo(0, 0);
        };
    </script>
    {% block head %}{% endblock %}
</head>
<body>
    
    <!-- HTML code that will persist in all pages. It has the general outline and a responsive sidebar. -->

    <!--modal per avvisare l'utente di qualcosa che non va es: non ha inserito tutti i colori-->
    <div id="md_err" class="modal fade " data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" >
                <div class="modal-body text-center" id="md_err_body" style="font-size: 1.5em;"></div>
                <div class="modal-footer">
                    <button class="play_button bnt_err" data-bs-dismiss="modal"  style="margin: 0 auto;" onclick="modal_aperto=false">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div id="md_msg" class="modal fade" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" >
                <div class="modal-header ">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center" id="md_body_msg" style="font-size: 1.2em;">Codice inviato, attendi che lo inserisca anche l'altro giocatore</div>
            </div>
        </div>
    </div>
    <div id="md_end" class="modal fade" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header ">
                    <h2 class="modal-title " id="md_title"></h2>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center" id="md_body" style="font-size: 1.2em;"></div>
                <div class="modal-footer contenitore-pulsanti-2">
                    <button class="play_button btn_ok" data-bs-dismiss="modal" style="margin: 0 auto;" onclick="window.location.href = `{{ url_for('index') }}`">Torna alla home</button>
                    <button class="play_button btn_ok" data-bs-dismiss="modal" style="margin: 0 auto;" onclick="window.location.href = `{{ url_for('game') }}`">Nuova partita</button>
                </div>
            </div>
        </div>
    </div>
    <div id="md_endOnline" class="modal fade" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header ">
                    <h2 class="modal-title " id="md_titleOnline"></h2>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center" id="md_bodyOnline" style="font-size: 1.2em;"></div>
                <div class="modal-footer contenitore-pulsanti-2">
                    <button class="play_button btn_ok" data-bs-dismiss="modal" style="margin: 0 auto;" onclick="window.location.href = `{{ url_for('index') }}`">Torna alla home</button>
                    <button class="play_button btn_ok" data-bs-dismiss="modal" style="margin: 0 auto;" onclick="window.location.href = `{{ url_for('replay') }}`">Nuova partita</button>
                </div>
            </div>
        </div>
    </div>
    {% block modal %}{% endblock %}
    
    <div class="wrapper">
        
        <div id="sidebar-wrapper">
            <button class="btn" type="button" id="sidebar-button" data-bs-theme="dark">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Sidebar -->

                <aside id="sidebar" style="margin-left: -264px; box-shadow: none;">

                <div class="h-80">
                    <div class="sidebar-logo">
                        <div class="logo">
                            <a href="{{ url_for('index') }}">Mind Masters</a>
                        </div>
                        <div class="close-button">
                            <button type="button" class="btn-close btn-close-white" aria-label="Close" id="close-sidebar-button"></button>
                        </div>
                    </div>
                    
                    <!-- Sidebar Navigation -->
                    <ul class="sidebar-nav">
                        
                        <li class="sidebar-item">
                            <a href="{{ url_for('rules') }}" class="sidebar-link">
                                <i class="fa-solid fa-list pe-2"></i>
                                Regole
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link">
                                <i class="fa-solid fa-list pe-2 " ></i>
                                Accessibilità
                                <label class="switch allinea popup" text="A ogni colore verrà associato un numero. Il numero apparirà sopra il colore.">
                                    <label class="switch allinea" >
                                        {% if session['acc'] %} 
                                            <input  id="checkbox" onclick="accessibility()" type="checkbox" checked>
                                        {%else%}
                                            <input id="checkbox" onclick="accessibility()" type="checkbox" >
                                        {%endif%}
                                        <span class="slider round"></span>
                                    </label>
                                </label>
                            </a>
                        </li>
                        <!-- If the user is not logged in, show the register and login buttons.-->
                        {% if not session['username'] %}
                            <li class="sidebar-item">
                                <a href="{{ url_for('register') }}" class="sidebar-link">
                                    <i class="fa-solid fa-list pe-2"></i>
                                    Registrati
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="{{ url_for('login') }}" class="sidebar-link">
                                    <i class="fa-solid fa-list pe-2"></i>
                                    Accedi
                                </a>
                            </li>
                        {% endif %}
                        
                        <!-- If the user is logged in, show the logout button. -->

                        {% if session['username'] %}
                            <li class="sidebar-item">
                                <a href="{{ url_for('logout') }}" class="sidebar-link">
                                    <i class="fa-solid fa-list pe-2"></i>
                                    Logout
                                </a>
                            </li>
                        {% endif %}
                        
                        
                     
                    </ul>

                </div>
                <div class="h-20">
                    <!-- Footer -->
                        <div class="footer">
                            <div class="row">
                                <!-- List of links -->
                                <ul>
                                    <li><a href="{{ url_for('contact_us') }}">Contattaci</a></li>
                                    <li><a href="{{ url_for('about_us') }}">About Us</a></li>
                                    <!-- <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Termini & Condizioni</a></li> -->
                                </ul>
                            </div>
                            <div class="row">
                                <!-- Copyright information -->
                                Copyright © 2024 Mind Masters - All rights reserved
                            </div>
                        </div>
                    
                </div>
                
            </aside>
        </div>
        <!-- Main Component -->
        <div class="main" id="main-content">
            <main class="content">
                
                {% block body %}{% endblock %}
            </main>
            
        </div>
    </div>


    <script>
        // When the page loads, check if the sidebar is collapsed or not.
        const toggleSidebarButton = document.getElementById('sidebar-button');
        const sidebar = document.getElementById('sidebar');
        localStorage.setItem('sidebarCollapsed', 'true');
        isSidebarClosed = localStorage.getItem('sidebarCollapsed') === 'true';
        const closeSidebarButton = document.getElementById('close-sidebar-button');
        const screenLimit = 1300;
        const sidebarContainer = document.getElementById('sidebar-wrapper');

        toggle = true;

        function closeSidebar() {
            sidebar.style.marginLeft = '-264px'; // Chiudi la sidebar
            sidebar.style.boxShadow = 'none';
            sidebar.style.pointerEvents = 'none';
            //main.style.marginLeft = '0';
            toggle = !toggle;
            closeSidebarButton.style.visibility = 'hidden';
            toggleSidebarButton.style.visibility = 'visible';

            localStorage.setItem('sidebarCollapsed', 'true');

            $.ajax({
                type: 'POST',
                url: '/sidebar',
                data: JSON.stringify({side:true}),
                contentType: 'application/json',
                success: function(data) {
                  console.log(data);
                }
            });

            setTimeout(()=>{
                sidebarContainer.style.zIndex = '0';
            }, 250);
            
        }

        function openSidebar() {
            sidebar.style.boxShadow = '5px 10px 15px rgba(0, 0, 0, 0.5)';
            sidebar.style.marginLeft = '0'; // Apri la sidebar
            sidebar.style.pointerEvents = 'auto';
            //main.style.marginLeft = '264px'; // Sposta il contenuto principale
            toggle = !toggle;
            //sidebar.removeAttribute('hidden');
            closeSidebarButton.style.visibility = 'visible';
            toggleSidebarButton.style.visibility = 'hidden';
            localStorage.setItem('sidebarCollapsed', 'false');

            sidebarContainer.style.zIndex = '999';

            $.ajax({
                type: 'POST',
                url: '/sidebar',
                data: JSON.stringify({side:false}),
                contentType: 'application/json',
                success: function(data) {
                   console.log(data);
                }
            });
        }

        // if (!isSidebarClosed) {
        //     closeSidebar();
        // }else{
        //     openSidebar();
        // }
      
    </script>

    
</body>
</html>