{% extends 'base.html' %}

{% block head %}
    <title id="title">Contact Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact_us.css') }}">
{% endblock %}

{% block body %} 

<div class="container">
<div class="containerContact" style="text-align: center;">
        <div class="title">
            <h1>Contattaci</h1>
        </div>
        <p>Per qualsiasi dubbio, contattateci su:</p>
        <div class="members-container">
            <div id="first" class="member">
                <img src="{{ url_for('static', filename='img/amin.jpeg') }}" alt="Soykat Amin">
                <div class="name">
                    <p>Soykat Amin</p>
                </div>
                <div class="description">
                    <div class="item 1-1">
                        <a class="link_container" href="https://www.linkedin.com/in/soykat-amin-7b1b3b1b3/">
                            <img class="icon" src="{{ url_for('static', filename='img/ico-linkedin.svg') }}">
                           
                        </a>
                    </div>
                    <div class="item 1-2">
                        <a class="link_container" href="https://www.github.com/SoykatAmin">
                            <img class="icon" src="{{ url_for('static', filename='img/github-mark-white.png') }}">
                            
                        </a>
                    </div>
                </div>
            </div>
            <div id="second" class="member">
                <img src="{{ url_for('static', filename='img/leonardo.jpeg') }}" alt="Leonardo Miralli">
                <p>Leonardo Miralli</p>
                <div class="description">
                    <div class="item 2-1">
                        <a class="link_container" href="https://www.linkedin.com/in/leonardo-miralli-97538a30b/">
                            <img class="icon" src="{{ url_for('static', filename='img/ico-linkedin.svg') }}">
                            
                        </a>
                    </div>
                    <div class="item 2-2">
                        <a class="link_container" href="https://github.com/l3onrdo">
                            <img class="icon" src="{{ url_for('static', filename='img/github-mark-white.png') }}">
                            
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
