{% extends 'base.html' %}

{% block head %}

    <title>Gioco Computer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gameoffline.css') }}">
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
    <script>
        //salvare nella variabile di sessione il codice generato
        startPVE()
    </script>

{% endblock %}

{% block body %}

    <div class="color-buttons"></div>

    <div class="game_board">
        <button onclick="changeColor('red')" class="input-color-button" style="background-color: red;"></button>
        <button onclick="changeColor('green')" class="input-color-button" style="background-color: green;"></button>
        <button onclick="changeColor('blue')" class="input-color-button" style="background-color: blue;"></button>
        <button onclick="changeColor('yellow')" class="input-color-button" style="background-color: yellow;"></button>
        <button onclick="changeColor('orange')" class="input-color-button" style="background-color: orange;"></button>
        <button onclick="changeColor('purple')" class="input-color-button" style="background-color: purple;"></button>
        <button onclick="changeColor('gold')" class="input-color-button" style="background-color: gold;"></button>
        <button onclick="changeColor('skyblue')" class="input-color-button" style="background-color: skyblue;"></button>
        <br>
        <button id="invcod" onclick="confrontaCodici()">conferma codice</button>
        <div id="risultato"></div>
        <div id="countdown">Tempo alla fine della partita: 15:00</div>
        <div class="grid-container">
            {% for x in range(1, 34) %}
                {% for y in range(1, 14) %}
                    {% if (x == 3 or x == 7 or x == 11 or x == 15 or x == 19 or x == 23 or x == 27 or x == 31) and (y == 3 or y == 5 or y == 7 or y == 9) %}
                        <div class="grid-item-balls" id="item-{{ x }}-{{ y }}">balls</div>
                    {% else %}
                        <div class="grid-item"></div>
                    {% endif %}
                    
                {% endfor %}
            {% endfor %}
        </div>
       
    </div>

    <br>
    <script>
        //va messo alla fine senno i div non esistono e da errore undefined
        avviaEventi()
    </script>

    
{% endblock %}

