{% extends 'base.html' %}

{% block head %}
    <title>Mind Masters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/online.js') }}"></script>
    
{% endblock %}
{% block modal %}
<div id="md_online" class="modal fade " data-bs-backdrop='static'>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="md_title"  class="modal-header">
                <button class="btn-close btn-close-white" data-bs-dismiss="modal" onclick="annulla()"></button>
            </div>
            <div class="modal-header">
                <h2 class="modal-title " id="md_body_online">Gioca online con i tuoi amici</h2>
                <div hidden class="input-group mb-3" id="md_body_cod" style="text-align: center;">
                    
                    <h5 id="err" style="color: rgb(245, 75, 75);" >{{err}}</h5>
                    
                    <form action="{{ url_for('lobby', mode='enter') }}" id="enterRoomForm" method="post">
                        <input type="text" class="form-control" placeholder="Inserisci il codice della stanza" id="codice" name="code"/>
                    </form>
                    
                </div>
            </div>
            <div class="modal-footer contenitore-pulsanti-2">
                <button class="play_button btn_ok"  id="left_bn" data-bs-dismiss="modal" style="margin: 0 auto;" onclick="window.location.href = `{{ url_for('lobby', mode='create') }}`">Crea una stanza</button>
                <button class=" play_button btn_ok"  id="right_bn" style="margin: 0 auto;" onclick="iserisciCodice()">Entra in una stanza</button>
                <button hidden class="play_button btn_ok"  id="left_bn_code" data-bs-dismiss="modal" style="--c:#fc1c1c; margin: 0 auto;" onclick="annulla()">Annulla</button>
                <button form="enterRoomForm" hidden class="play_button btn_ok"  id="right_bn_code" style="margin: 0 auto;" type="submit" onclick="window.location.href = `{{ url_for('lobby', mode='enter') }}`">Entra</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block body %}
    {%if err %}
        <script>
            iserisciCodice();
            callModal();
        </script>
        
    {% endif %}
    {% if stanzaErr%}
        <script>
            var err = "{{stanzaErr}}";  
            const modal = new bootstrap.Modal('#md_err');
            const modalBody = document.getElementById('md_err_body');
            modalBody.innerHTML = err;
            modal.show();
            
        </script>
    {% endif %}


    <!-- This is the homepage of this project. It contains a game board, and two buttons that allow users to start a new game against another user or a computer -->

    <div class="container-fluid">

        <!-- Game board. It will disappear when width is reduced to a certain amount. -->
        
        <div class="leftpane">
            <div class="grid-container">
                {% set ballRow = namespace(value=1) %}
                {% for x in range(1, 18) %}
                    {% for y in range(1, 6) %}
    
                        {% if y == 2 and (x == 2 or x == 4 or x == 6 or x == 8 or x == 10 or x == 12 or x == 14 or x == 16) %}
                            <!-- Container for balls -->
                            <div class="grid-item balls-container" id="rig-{{ ballRow.value }}">
                                
                                {% for z in range(1, 4) %}
                                    {% set ballCol = namespace(value=1) %}
                                    {% for v in range(1, 10) %}
                                        {% if z == 2 and (v == 2 or v == 4 or v == 6 or v == 8)  %}
                                            <div class="ball" id="ball-{{ ballRow.value }}-{{ ballCol.value }}">
                                                <div class="ball-text" id="text-ball-{{ballRow.value}}-{{ballCol.value}}"></div>
                                            </div>
                                            {% set ballCol.value = ballCol.value + 1 %}
                                            {% if v == 8 %}
                                                {% set ballRow.value = ballRow.value + 1 %}
                                            {% endif %}
                                        {% else %}
                                            <div class="ball-padding"></div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% elif y == 4 and (x == 2 or x == 4 or x == 6 or x == 8 or x == 10 or x == 12 or x == 14 or x == 16) %}
                            <!-- Container for suggestion -->
                            <div class="grid-item suggestion-container">
                                {% set suggCol = namespace(value=1) %}
                                {% for z in range(1, 6) %}
                                    {% for v in range(1, 6) %}
                                        {% if (z == 2 or z == 4) and (v == 2 or v == 4)  %}
                                            <div class="suggestion" id="suggestion-{{ ballRow.value-1 }}-{{ suggCol.value }}"></div>
                                            {% set suggCol.value = suggCol.value + 1 %}
                                        {% else %}
                                            <div class="suggestion-padding"></div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="grid-item"></div>
                        {% endif %}
                        
                    {% endfor %}
                {% endfor %}
                
                </div>
        </div>
        <script>
            fillhomeboard()
        </script>

        <!-- This part will persist even when the left pane disappears. Contains a catch-phrase and two buttons to play. -->

        <div class="rightpane">
            <div class="right-container">
                <div class="right-toppane">
                    {% if current_user.is_authenticated %}
                        <h1 style="margin-bottom: 0;" id="motto">Ciao {{current_user.username}}, Gioca a Mastermind!</h3>
                    {% else %}
                        <h1 id="motto">Gioca a Mastermind!</h3>
                    {% endif %}
                </div> 
                
                <div class="space"></div>

                <div class="right-middlepane" >
                    {% if current_user.is_authenticated %}
                        
                        <button class="play_button" id="online_button" onclick="callModal()">
                            <h3 style="color: white; text-decoration: none; margin-bottom: 0;">Multiplayer</h3>
                        </button>
                    
                    {% else %}
                    <a class="link_play" href="{{ url_for('login') }}">
                        <button class="play_button" id="online_button_access">
                            <h3 style="color: white; text-decoration: none; margin-bottom: 0;">Accedi per il multiplayer</h3>
                        </button>
                    </a>
                    {% endif %}
                </div> 

                <div class="space"></div>

                <div class="right-bottompane">
                    <!--Sistemare si v<div id="timer">Timer: 0 seconds</div>ede il link blu-->
                    <a href="{{ url_for('game') }}" class="link_play">
                        <button class="play_button" id="computer_button"> 
                                <h3 style="color: white; text-decoration: none; margin-bottom: 0;">Singleplayer</h3> 
                        </button>
                    </a> 
                </div> 
            </div>
        </div>
    </div>
    <!--modal per avviare la partita online permettendo di creare o entrare in una stanza-->
    <!--data-bs-backdrop='false' da errore ma se nonn lo metto su telefono non funziona nulla-->

{% endblock %}


