{% extends 'base.html' %}

{% block head %}
    <title>Mind Masters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    
{% endblock %}

{% block body %}

    <!-- This is the homepage of this project. It contains a game board, and two buttons that allow users to start a new game against another user or a computer -->

    <div class="container-fluid">

        <!-- Game board. It will disappear when width is reduced to a certain amount. -->

        {% if session['username'] %}
            ciao {{ session['username'] }}
        {% endif %}
        <div class="leftpane">
            <h3>Left pane, game board.</h3>
        </div>

        <!-- This part will persist even when the left pane disappears. Contains a catch-phrase and two buttons to play. -->

        <div class="rightpane">
            <div class="right-toppane">
                <h3>Game motto.</h3>
            </div> 
            <div class="right-middlepane">
                <h3>Play Online.</h3>
            </div> 
            <div class="right-bottompane">
                <h3>Play Computer.</h3>
            </div> 
        </div>
    </div>

{% endblock %}


