{% extends 'base.html' %}

{% block head %}
    <title>Mind Masters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lobby.css') }}">
    <script src="{{ url_for('static', filename='js/online.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lobby.js') }}"></script>
    
{% endblock %}

{% block body %}
        
    <!-- This is the lobby page of this project. It contains a list of all the games that are currently being played, and a button that allows users to start a new game against another user. -->
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <div class="page-container">
        <div class="lobby-container">
            <!-- List of games that are currently being played. -->
            <h1 class="title">Lobby di {{ creator }}</h1>
            <br>
            <div class="lobby-element">
                <div> <p> {{ msg }} </p></div>
                <div>Codice stanza: <p> {{ code }} </p></div>
                <br>
                <div>
                    <p id="players"></p>
                </div>
                <div id="timer">
                </div>
                <br>
            </div>
            
        </div>
            <div class="frase">
                <div class="frase-in-out" id="frasi"></div>
            </div>      
    </div>
    <script>
        var replay1 = '{{ replay1 }}' == 'True' ? true : false;
        var replay2 = '{{ replay2 }}' == 'True' ? true : false;
        rotazione();
        loadPage();
    </script>

{% endblock %}
