{% extends 'base.html' %}

{% block head %}
    <title>Mind Masters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lobby.css') }}">
    <script src="{{ url_for('static', filename='js/online.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lobby.js') }}"></script>
{% endblock %}

{% block body %}
        
        <!-- This is the lobby page of this project. It contains a list of all the games that are currently being played, and a button that allows users to start a new game against another user. -->
        
       

            <div class="lobby-container">
        
                <!-- List of games that are currently being played. -->
                
                <h1 class="title">Lobby di {{ session['username'] }}</h1>
                <br>
                <div class="lobby-element">
                    
                    <div>Codice stanza: <p>12456</p></div>
                    <br>
                    <div >In attesa di altri giocatori<p></p></div>
                    <br>
                </div>
                
            </div>
            <div class="frase">
                <div class="frase-in-out" id="frasi"></div>
            </div>


        
        
        <script>
            rotazione();
        </script>
{% endblock %}
