{% extends 'base.html' %}

{% block head %}
    <title>Mind Masters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lobby.css') }}">
    <script src="{{ url_for('static', filename='js/online.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lobby.js') }}"></script>
    
{% endblock %}

{% block body %}
        
    <!-- This is the lobby page of this project. It contains a list of all the games that are currently being played, and a button that allows users to start a new game against another user. -->
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    
    <div class="lobby-container">
        <!-- List of games that are currently being played. -->
        <h1 class="title">Lobby di {{ creator }}</h1>
        <br>
        <div class="lobby-element">
            <div> <p> {{ msg }} </p></div>
            
            <div>Codice stanza: <p> {{ code }} </p></div>
            <br>
            <div>
                <p id="players"></p>
            </div>
            <div id="timer">

            </div>
            <br>
        </div>
        
    </div>
        <div class="frase">
            <div class="frase-in-out" id="frasi"></div>
        </div>        
    <script>
        rotazione();
    </script>

    <!-- Handle connection between users. -->
    <script>
        $(document).ready(function() {
            timeleft = 5000;
            var idGame = null;
            var timeSpeed = 800;    // Tempo di aggiornamento in millisecondi, non diminuire troppo altrimenti si mandano troppe richieste al server aumentando il numero di partite create. Manda tutto in crash
            setInterval(function() {
                $.get('/isConnected', function(data) {
                    // Accesso ai dati JSON restituiti
                    var connected = data.connected;             // true if another player is connected
                    var secondPlayer = data.username;           // username of the connected player
                    var creator = data.creator;                 // true if the user is the creator of the game
                    var disconnect = data.disconnect;           // true if the creator has disconnected
                    
                    if (disconnect) {
                        window.location.href = '/';
                    }

                    if (creator) {
                        $('#players').html('In attesa di altri giocatori');
                    }else{
                        $('#players').html('');
                    }
                    // Utilizzo dei dati
                    if (connected) {
                        if(creator){
                            $('#players').html('Utente connesso: ' + secondPlayer);
                        }
                        $('#timer').html('La partita inizia tra ' + Math.ceil(timeleft/1000));
                        if (timeleft>0) {
                            timeleft = timeleft - timeSpeed;
                        }else{
                            timeleft = 0;
                            // crea la partita e reindirizza alla pagina di gioco. Aggiorna quindi il database. Il creatore della lobby è quello che crea la partita. L'altro giocatore
                            // controlla se il primo ha creato la partita. Se l'ha creata vanno entrambi alla pagina di gioco.
                            if(creator){
                                $.ajax({
                                    url: '/create-game',
                                    method: 'POST',
                                    contentType: 'application/json',
                                    data: JSON.stringify({player2: secondPlayer}), // Dati da passare alla funzione
                                    success: function(response) {
                                        // Ricevi il risultato e visualizzalo nella pagina
                                        console.log(response);
                                        idGame = response.id;
                                        // Costruisci manualmente l'URL con i parametri
                                        var url = "/game-online-code?id=" + idGame;
                                        window.location.href = url;
                                    }
                                });
                            }else{
                                $.ajax({
                                    url: '/isCreated',
                                    method: 'POST',
                                    contentType: 'application/json',
                                    data: {}, // Dati da passare alla funzione
                                    success: function(response) {
                                        // Ricevi il risultato e visualizzalo nella pagina
                                        var created = response.created;
                                        console.log(created);
                                        if(created){
                                            console.log(response);
                                            window.location.href = '/game-online-code?id=' + response.id;
                                        }
                                    }
                                });
                            }
                        }
                    }
                });
            }, timeSpeed);
        });
    </script>

{% endblock %}
