{% extends 'base.html' %}

{% block head %}
    <title>Regole</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rules.css') }}">
{% endblock %}

{% block body %}
    <div class="rules-container">
        <div class="title">
            <h1>Regole di Mastermind</h1>
        </div>
        <div class="rules">
            <div class="rule-section">
                <h3>Obiettivo del Gioco</h3>
                <p>Il Mastermind è un gioco di logica in cui un giocatore, noto come "decifratore", cerca di indovinare una combinazione segreta di colori o numeri, creata da un altro giocatore, il "codificatore".</p>
            </div>
            <div class="rule-section">
                <h3>Preparazione</h3>
                <ol>
                    <li>Il codificatore seleziona una combinazione segreta di colori o numeri e la registra senza che il decifratore possa vederla.</li>
                    <li>Il decifratore dispone di un numero prestabilito di tentativi per indovinare la combinazione segreta.</li>
                </ol>
            </div>
            <div class="rule-section">
                <h3>Gioco</h3>
                <ol>
                    <li>Il decifratore propone una sequenza di colori o numeri, che il codificatore confronta con la combinazione segreta.</li>
                    <li>Il codificatore fornisce degli indizi al decifratore, di solito sotto forma di bolle colorate o simboli, per indicare quanti colori o numeri sono stati indovinati e quanti di essi sono nella posizione corretta.</li>
                    <li>Il decifratore utilizza gli indizi forniti dal codificatore per raffinare le sue successive proposte e tentare di indovinare la combinazione segreta.</li>
                    <li>Il gioco continua fino a quando il decifratore indovina la combinazione segreta o esaurisce tutti i tentativi a sua disposizione.</li>
                </ol>
            </div>
            <div class="rule-section">
                <h3>Gioco Online</h3>
                <ol>
                    <li>Nella versione online ogni giocatore agirà sia da codificatore che da decifratore. All'inizio della partita ognuno avrà 30 secondi per decidere la combinazione segreta.</li>
                    <li>Il gioco si svolgerà parallelamente. Il primo che indovina la combinazione segreta vince.</li>
                    <li>Se nessuno indovina la combinazione segreta entro il limite di tentativi, la partita termina in parità.</li>
                </ol>
            </div>
            <div class="rule-section">
                <h3>Indizi</h3>
                <ol>
                    <li>Un cerchio indica che un colore o un numero è corretto e si trova nella posizione corretta.</li>
                    <li>Un quadrato indica che un colore o un numero è corretto, ma si trova in una posizione diversa.</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}