{% extends 'base.html' %}

{% block head %}
  <title>login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/login.css') }}">
{% endblock %}

{% block body %}
  <div class="container">
    <div class="form-body">
      <div class="form-container">
        <div class="form-header">
          <h1>Accedi</h1>
        </div>
        <div class="form-entry">
          {% if msg %}
            <div class="msg" style="color: rgb(245, 75, 75);">
              {{ msg }}
            </div>
          {% endif %}
          <form action="{{ url_for('login') }}" method="post">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" name="username" id="username" class="form-control" placeholder="Username"required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary" id="login-button">Accedi</button>
          </form>
          <a href="{{ url_for('register') }}">Non hai un account? Registrati</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}